@model StudentPortal.Web.Models.AddSubjectViewModel // Accessing the properties of the AddSubjectViewModel inside this cshtml

<div class="addsubject-container mt-5">
    <h1 class="text-center mb-4" style="font-size: 3rem; font-weight: bold; margin-right: 30px;">Add Subject</h1>

    <form method="post">

        <div class="form-group mt-3">
            <label class="form-label">Subject EDP</label>
            <input type="text" class="form-control" asp-for="SubEDP" placeholder="Enter the Subject EDP here, then press Enter to fillup the others"/>
        </div>

        <div class="form-group mt-3">
            <label class="form-label">Subject Name</label>
            <input type="text" class="form-control" asp-for="SubName" />
        </div>

        <div class="form-group mt-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" asp-for="Description"></textarea>
        </div>

        <div class="form-group mt-3">
            <label class="form-label">Unit</label>
            <select class="form-control" asp-for="Unit">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <div class="form-group mt-3">
            <label class="form-label">Offering</label>
            <select class="form-control" asp-for="Offering">
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
            </select>
        </div>

        <div class="form-group mt-3">
            <label class="form-label">Category</label>
            <select class="form-control" asp-for="Category">
                <option value="LEC">LEC (Lecture)</option>
                <option value="LAB">LAB (Laboratory)</option>
            </select>
        </div>

        <div class="form-group mt-3">
            <label class="form-label">Course Code</label>
            <select class="form-control" asp-for="CourseCode">
                <option value="BSIT">BSIT</option>
                <option value="AB-PSYCH">AB-PSYCH</option>
                <option value="BSMT">BSMT</option>
                <option value="BSN">BSN</option>
            </select>
        </div>

        <div class="form-group mt-3">
            <label class="form-label">Curriculum Year</label>
            <select class="form-control" asp-for="CurriculumYear">
                <option value="2025-2026">2025-2026</option>
                <option value="2026-2027">2026-2027</option>
            </select>
        </div>

        <div class="form-group mt-3">
            <label class="form-label" for="subject">Subject Schedule (Hold CTRL to select multiple)</label>
            <select class="form-control" asp-for="SubSched" multiple>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
            </select>
        </div>

        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("List", "SubjectEntry")" class="btn btn-secondary ms-3">Cancel</a>  <!-- Cancel Button -->
        </div>

    </form>
</div>
